doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title KelMIT
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body(bgcolor='green')
    article
      section
        img(src='img/android.jpg')
        h2
          font(color='green') ANDROID
      section
        h2.bullet
          | Kelompok : 
          b
            font(color='green') KelMIT
        ul
          li
            | 131112799 - Mhd. Devy Rizki Ananda
            br
            |               131111041 - Jhon Tulus P Hutagalung
            br
            |                    131111289 - Elmi Suwandi
            br
            |                  131111653 - Mhd. Abdul Aziz
            br
            |                 131112730 - Arjun Abdi Hutagalung
      section
        h2.bullet
          | Apa Itu 
          font(color='green') Android
          | ??
        ul
          font(size='3px')
            li Adalah - Sistem operasi berbasis Linux.
            li
              | Dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet.
            li
              | Antarmuka pengguna 
              font(color='green') Android
              |  didasarkan pada manipulasi langsung...
            li
              font(color='green') Android
              |  merupakan sistem operasi dengan sumber terbuka dan 
              font(color='red') Google
              |  merilis kodenya di bawah Lisensi Apache.
      section
        h2.bullet
          | Sejarah Berdirinya 
          font(color='green') Android
        ul
          font(size='3px')
            li
              font(color='green') Android
              | , Inc. didirikan di Palo Alto, California...
            li
              | Tujuan awal pengembangan 
              font(color='green') Android
              | ...
            li
              | Telepon seluler komersil pertama yang menggunakan SO 
              font(color='green') Android
              | ...
              img(src='img/htc.jpg')
      section
        h2.bullet
          | Fitur 
          font(color='green') Android
        ul
          font(size='3px')
            br
            li
              img(src='img/notif.png')
              br
              | Antarmuka - Didasarkan pada manipulasi langsung
            li Aplikasi - Penggunaan aplikasi pihak ketiga
      section
    script(src='build/build.js')
