doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title KelMIT
    link(rel='stylesheet', type='text/css', href='build/build.css')
  bodys
    article
      section
        h2
          font(color='green') "ANDROID"
      section
        h2 KelMIT
        h4.bullet Oleh : 
        ul
          li
            font(color='brown')
              | 131112799 - Mhd. Devy Rizki Ananda
              br
              |               131111041 - Jhon Tulus P Hutagalung
              br
              |                    131111289 - Elmi Suwandi
              br
              |                  131111653 - Mhd. Abdul Aziz
              br
              |                 131112730 - Arjun Abdi Hutagalung
      section
        h2.bullet
          | Apa Itu 
          font(color='green') Android
          | ??
        ul
          li Adalah - Sistem operasi berbasis Linux.
          li
            | Dirancang untuk perangkat seluler layar sentuh seperti telepon pintar dan komputer tablet.
          li
            | Antarmuka pengguna 
            font(color='green') Android
            |  didasarkan pada manipulasi langsung...
          li
            font(color='green') Android
            |  merupakan sistem operasi dengan sumber terbuka dan 
            font(color='red') Google
            |  merilis kodenya di bawah Lisensi Apache.
      section
        h2.bullet
          | Siapakah Pencipta 
          font(color = 'green') Android ?
      section
        h2.bullet
          |Silsilah 
          font(color ='green') Android
        ul
          li 1. Tanpa nama  ( Android versi 1.0 1.1 )
          li 2. Cupcake (Android versi 1.2 – 1.5)
          li 3. Donut ( Android versi 1.6 )
          li 4. Eclair ( android 2.0 - 2.1 )
          li 5. Froyo ( Android 2.2 - 2.2.3 )
          li 6. Gingerbread (2.3–2.3.2)
          li 7. Honeycomb (3.1)
          li 8. Ice Cream Sandwich(4.0.3–4.0.4)
          li 9. Jelly Bean(4.1.x)
          li 10.KitKat(4.4.x)
          li 11.Lollipop (5.0)
      section
    script(src='build/build.js')
